.report-manager {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px 20px;
}

.report-manager h1 {
    text-align: center;
    color: #023e8a;
    margin-bottom: 25px;
    font-size: 2rem;
}

.report-manager p {
    text-align: center;
    font-size: 1rem;
    color: black;
}

.report-cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}