.report-card {
    position:relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 15px auto;
    padding: 22px;
    background: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    transition: all 0.2s ease-in-out;
    overflow: hidden;

    cursor: default; /*can only click the button*/
}

.report-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.25);
}

.report-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.report-card-body h3 {
  margin: 0;
  padding: 0;
  color:  #0066cc;
  font-size: 18px;
  text-align: left;
  flex: 1;
  word-wrap: break-word;
}

.report-card-body p {
  margin: 5px 0;
  color:  black;
  font-size: 15px;
  text-align: left;
  word-wrap: break-word;
}

.report-delete-button {
    background: red;
    color: white;
    border: none;
    padding: 0px 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.report-delete-button:hover{
    transform: scale(1.05);
    background-color: #e16e6e;
}