/* entire page layout */
.search-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f8f9fb;
    font-family: "Inter", sans-serif;
  }
  
  /* header */
  .search-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0021a5;
    color: white;
    padding: 12px 20px;
  }
  
  .search-bar-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .search-bar {
    padding: 8px 12px;
    width: 280px;
    border-radius: 8px;
    border: none;
    outline: none;
  }
  
  .search-btn {
    background-color: #f58220;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  /* main layout */
  .search-body {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  /* filters */
  .filters {
    width: 220px;
    background-color: #e9eef6;
    padding: 15px;
    border-right: 2px solid #ccc;
  }
  
  .filters h3 {
    margin-bottom: 10px;
    color: #0021a5;
  }
  
  .filters label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .filters input {
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #bbb;
  }
  
  /* results field */
  .ride-results {
    flex: 1;
    padding: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column; 
    color: #777;
    font-style: italic;
  }
  
  .ride-cards-container {
    width: 100%;
    padding: 20px;
  }
  
  .ride-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .filter-btn {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #ff6700;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    transition: 0.2s ease;
  }
  
  .filter-btn:hover {
    background-color: #e65c00;
  }